AlsFramework-2.0.1/WebRoot/WEB-INF/classes/com/als/mod/schema/ecds.122.001.01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Acceptance1">
		<xs:sequence>
			<xs:element name="AccptncDt" type="ISODate"/>
			<xs:element name="TxlCtrctNb" type="Max30Text" minOccurs="0"/>
			<xs:element name="InvcNb" type="Max30Text" minOccurs="0"/>
			<xs:element name="AccptncAgrmtNb" type="Max30Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Drawingback1">
		<xs:sequence>
			<xs:element name="DrwgBckDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcceptanceRegister1">
		<xs:sequence>
			<xs:element name="Accptnc" type="Acceptance1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="Drwr" type="Organisation1"/>
			<xs:element name="Pyee" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DrawingbackRegister1">
		<xs:sequence>
			<xs:element name="DrwgBck" type="Drawingback1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Account1">
		<xs:sequence>
			<xs:element name="AcctSvcr" type="MaxMin12NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnnulingSuspendingPayment1">
		<xs:sequence>
			<xs:element name="Tp" type="AnnulingSuspendingCode"/>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnnulingSuspendingCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AS00"/>
			<xs:enumeration value="AS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AnnulingSuspendingPaymentRegister1">
		<xs:sequence>
			<xs:element name="AnlgSspdgPmt" type="AnnulingSuspendingPayment1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="Propsr" type="Organisation1"/>
			<xs:element name="Oprtr" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Collateralization1">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollateralizationRegister1">
		<xs:sequence>
			<xs:element name="Collztn" type="Collateralization1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="CollztnProPsr" type="Organisation1"/>
			<xs:element name="CollztnBk" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Collection1">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
			<xs:element name="EndrsmtCnt" type="Max8NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollectionRegister1">
		<xs:sequence>
			<xs:element name="Colltn" type="Collection1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="ColltgBk" type="Organisation1"/>
			<xs:element name="Prncpl" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommercialDraftRegisterInformationResponseV01">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageIdentification1"/>
			<xs:element name="OrgnlMsgId" type="MessageIdentification1"/>
			<xs:element name="QuriesLog" type="QueriesLog1"/>
			<xs:element name="RegInf" type="RegisterInformation1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformation1">
		<xs:sequence>
			<xs:element name="Rmrk" type="Max60Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="QueriesLog1">
		<xs:sequence>
			<xs:element name="QuriesCnt" type="Max8NumericText"/>
			<xs:element name="Dtls" type="QueriesDetails1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueriesDetails1">
		<xs:sequence>
			<xs:element name="QuryOrg" type="Organisation2"/>
			<xs:element name="QuryTime" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,18})|(\d{1,18}\.)|(\d{1,17}\.\d{0,1})|(\d{1,16}\.\d{0,2})|(\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Discount3">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
			<xs:element name="TxlCtrctNb" type="Max30Text" minOccurs="0"/>
			<xs:element name="InvcNb" type="Max30Text" minOccurs="0"/>
			<xs:element name="DscntAgrmtNb" type="Max30Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountRegister1">
		<xs:sequence>
			<xs:element name="Dscnt" type="Discount3"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="DscntPropsr" type="Organisation1"/>
			<xs:element name="DscntBk" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="CommercialDraftRegisterInformationResponse" type="CommercialDraftRegisterInformationResponseV01"/>
			<xs:element name="CntrlBkSgntr" type="Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max2Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max8NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentRefused1">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
			<xs:element name="DshnrRsn" type="Max60Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentRefusedRegister1">
		<xs:sequence>
			<xs:element name="PmtRfsed" type="PaymentRefused1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="Pyee" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RediscountWithCentralBank3">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RediscountWithCentralBankRegister1">
		<xs:sequence>
			<xs:element name="RdscntWthCntrlBk" type="RediscountWithCentralBank3"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="RqstngBkOfRpdRdscntWthCntrlBk" type="Organisation1"/>
			<xs:element name="RdscntWthCntrlBkSys" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RediscountWithCommercialBank3">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RediscountWithCommercialBankRegister1">
		<xs:sequence>
			<xs:element name="RdscntWthComrclBk" type="RediscountWithCommercialBank3"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="RqstngBkOfRdscntWthComrclBk" type="Organisation1"/>
			<xs:element name="RcvgBkOfRdscntWthComrclBk" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisterBusiness1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="AccptncReg" type="AcceptanceRegister1"/>
				<xs:element name="DrwgBckReg" type="DrawingbackRegister1"/>
				<xs:element name="DscntReg" type="DiscountRegister1"/>
				<xs:element name="RdscntWthComrclBkReg" type="RediscountWithCommercialBankRegister1"/>
				<xs:element name="RdscntWthCntrlBkReg" type="RediscountWithCentralBankRegister1"/>
				<xs:element name="CollztnReg" type="CollateralizationRegister1"/>
				<xs:element name="RpdCollztnReg" type="RepurchasedCollateralizationRegister1"/>
				<xs:element name="ColltnReg" type="CollectionRegister1"/>
				<xs:element name="SttlmReg" type="SettlementRegister1"/>
				<xs:element name="PmtRfsedReg" type="PaymentRefusedRegister1"/>
				<xs:element name="SspdgPmtReg" type="SuspendingPaymentRegister1"/>
				<xs:element name="AnlgSspdgPmtReg" type="AnnulingSuspendingPaymentRegister1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisation1">
		<xs:sequence>
			<xs:element name="Nm" type="Max60Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisation2">
		<xs:sequence>
			<xs:element name="Acct" type="Account1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisterInformation1">
		<xs:sequence>
			<xs:element name="ComrclDrft" type="CommercialDraft1"/>
			<xs:element name="Accptr" type="Organisation2"/>
			<xs:element name="RegBiz" type="RegisterBusiness1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommercialDraft1">
		<xs:sequence>
			<xs:element name="Tp" type="DraftTypeCode"/>
			<xs:element name="IdNb" type="Max16AlphaNumericText"/>
			<xs:element name="IsseAmt" type="CurrencyAndAmount"/>
			<xs:element name="IsseDt" type="ISODate"/>
			<xs:element name="DueDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepurchasedCollateralization1">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepurchasedCollateralizationRegister1">
		<xs:sequence>
			<xs:element name="RpdCollztn" type="RepurchasedCollateralization1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="OrginCollztnBk" type="Organisation1"/>
			<xs:element name="OrginCollztnPrpsr" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Settlement1">
		<xs:sequence>
			<xs:element name="PayDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementRegister1">
		<xs:sequence>
			<xs:element name="Sttlm" type="Settlement1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="Pyee" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SuspendingPayment1">
		<xs:sequence>
			<xs:element name="Tp" type="SuspendingPaymentCode"/>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SuspendingPaymentCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SP00"/>
			<xs:enumeration value="SP01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SuspendingPaymentRegister1">
		<xs:sequence>
			<xs:element name="SspdgPmt" type="SuspendingPayment1"/>
			<xs:element name="Accptr" type="Organisation1"/>
			<xs:element name="Propsr" type="Organisation1"/>
			<xs:element name="Oprtr" type="Organisation1"/>
			<xs:element name="AddtlInf" type="AdditionalInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
